    body,
    div,
    span,
    p,
    a,
    input,
    img,
    ul,
    li,
    h1,
    h2,
    h3,
    h4,
    i,
    em,
    del,
    strong,
    ins {
        margin: 0;
        padding: 0;
    }
    /* �������߾� */
    
    a {
        color: #000;
        text-decoration: none;
    }
    /* ���a��ǩ��Ĭ����ʽ */
    
    li {
        list-style: none;
    }
    
    input {
        border: none;
        outline: none;
    }
    /* ���input�߿��Լ��������� */
    
    img {
        border: none;
        vertical-align: middle;
    }
    
    h1,
    h2,
    h3,
    h4 {
        font-weight: normal;
    }
    
    i {
        font-style: normal;
    }
    
    body {
        font: 12px/100% "微软雅黑";
        background-color: rgb(246, 246, 246);
    }
    
    .w {
        width: 1300px;
        margin: 0 auto;
    }
    
    .clearfix::after {
        content: ".";
        clear: both;
        display: block;
        height: 0;
        visibility: hidden;
    }
    
    .clearfix {
        *zoom: 1;
    }
    
    .gotop {
        z-index: 1;
        background-color: #fff;
        display: none;
        position: fixed;
        height: 60px;
        width: 60px;
        right: 20px;
        bottom: 40px;
        background: url(../images/returnTop1.png) no-repeat;
    }
    
    .gotop:hover {
        background: url(../images/returnTop2.png) no-repeat;
    }
    
    .toptop {
        height: 76px;
        width: 100%;
        background-color: rgb(34, 34, 34);
    }
    
    .top {
        height: 76px;
        background-color: rgb(34, 34, 34);
    }
    
    .logo,
    .top-list,
    .game {
        height: 76px;
        float: left;
        line-height: 76px;
        overflow: hidden;
    }
    
    .top-list {
        margin-left: 90px;
        font-size: 16px;
    }
    
    .top-list a {
        color: #fff;
        display: inline-block;
        height: 70px;
        margin-right: 50px;
        transition: all .5s;
    }
    
    .top-list a:hover {
        color: #FFDC00;
        border-bottom: 5px solid #FFDC00;
        font-weight: 700px;
    }
    
    .game a {
        display: inline-block;
        margin-left: 40px;
        perspective: 500px;
        overflow: hidden;
    }
    
    .game a,
    .login a {
        color: rgba(255, 255, 255, .7);
        display: inline-block;
        transition: all .3s;
    }
    
    .game a:hover {
        color: rgba(255, 255, 255, 1);
    }
    
    .game a img {
        transition: all 1s;
        vertical-align: middle;
    }
    
    .game a:hover img {
        transform: perspective(800px) rotateY(360deg);
    }
    
    .login {
        float: right;
        line-height: 76px;
    }
    
    .login a {
        display: inline-block;
        margin-right: 40px;
    }
    
    .login .title {
        height: 28px;
        width: 60px;
        border: 1px solid #ccc;
        border-radius: 14px;
        text-align: center;
        line-height: 30px;
        color: #fff;
    }
    
    .login .title:hover {
        background-color: #F4B126;
        color: #000;
    }
    
    .banner {
        height: 420px;
        overflow: hidden;
    }
    
    .banner a {
        display: block;
        height: 420px;
        background-image: url(../images/banner.png);
        background-size: 1380px 420px;
    }
    
    .main {
        height: 110px;
        margin-top: 30px;
    }
    
    .main-left {
        height: 110px;
        width: 260px;
        float: left;
        overflow: hidden;
    }
    
    .main-left a img {
        transition: all .3s;
    }
    
    .main-left a:hover img {
        transform: scale(1.2);
    }
    
    .main-right {
        position: relative;
        margin-left: 320px;
        height: 110px;
        width: 960px;
        margin-bottom: 30px;
        border-radius: 5px;
    }
    
    .main-right li {
        float: left;
        width: 116px;
        height: 110px;
        font-size: 14px;
    }
    
    .main-right li a {
        display: inline-block;
        width: 118px;
        height: 110px;
        color: #999;
    }
    
    .main-right li:hover a,
    .main-right li:hover img {
        color: #000;
    }
    
    .main-right li img {
        display: block;
        height: 32px;
        width: 40px;
        margin-top: 20px;
        margin-left: 36px;
    }
    
    .main-right li span {
        text-align: center;
        display: block;
        width: 114px;
        margin-top: 10px;
    }
    
    .cloud {
        background: rgb(255, 220, 0);
        z-index: -1;
        border-radius: 10px;
        position: absolute;
        width: 114px;
        height: 110px;
    }
    
    .pingce {
        float: left;
        width: 260px;
        margin-top: 20px;
        background-color: #fff;
    }
    
    .pingce h2 {
        margin: 10px 0 10px 10px;
        font-size: 16px;
    }
    
    .pingce li {
        width: 250px;
        margin-bottom: 10px;
    }
    
    .pingce li p:hover {
        color: #F4B126;
        cursor: pointer;
    }
    
    .pingce li a {
        display: block;
        width: 100%;
        height: 100%;
    }
    
    .pingce li p {
        margin-top: 8px;
        height: 52px;
        width: 140px;
        font-size: 14px;
        color: #222;
        line-height: 26px;
        text-align: justify;
        overflow: hidden;
        float: right;
    }
    
    .shipin {
        margin-top: 20px;
        height: 400px;
        width: 258px;
        float: left;
        overflow: hidden;
    }
    
    .shipin li p {
        margin-top: 70px;
        color: #fff;
        width: 260px;
        float: left;
        font-size: 14px;
        line-height: 16px;
    }
    
    .shipin li:hover {
        transform: scale(1.2);
        cursor: pointer;
    }
    
    .shipin li {
        margin-top: 20px;
        margin-bottom: 10px;
        overflow: hidden;
        width: 260px;
        height: 110px;
        transition: all .3s;
    }
    
    .more-pic {
        /* height: 600px; */
        width: 1000px;
        overflow: hidden;
        margin-left: 300px;
    }
    
    .pingce img {
        display: inline-block;
        width: 80px;
        height: 60px;
        margin-left: 10px;
    }
    
    .pic-list {
        float: right;
        margin-top: 20px;
        width: 1000px;
        overflow: hidden;
    }
    
    .pic-list a {
        float: left;
        margin-left: 20px;
        width: 220px;
        height: 280px;
        background-color: #fff;
        margin-bottom: 20px;
        animation: myfirst 1s;
        transform-origin: 150px 150px;
        transition: all .5s;
        border-radius: 10px;
        overflow: hidden;
    }
    
    @keyframes myfirst {
        0% {
            transform: perspective(300px) rotateX(-20deg)
        }
        25% {
            transform: perspective(300px) rotateX(10deg)
        }
        50% {
            transform: perspective(300px) rotateX(-10deg)
        }
        70% {
            transform: perspective(300px) rotateX(10deg)
        }
    }
    
    .pic-list .img {
        font-size: 16px;
        line-height: 26px;
        height: 180px;
        width: 220px;
        overflow: hidden;
    }
    
    .pic-list .img img {
        width: 100%;
        height: 100%;
        transition: all .3s;
    }
    
    .pic-list .img:hover img {
        transform: scale(1.3);
    }
    
    .pic-list .info {
        position: relative;
    }
    
    .pic-list .grade {
        top: -39px;
        left: 15px;
        width: 54px;
        height: 54px;
        text-align: center;
        line-height: 36px;
        font-size: 22px;
        color: #333;
        font-weight: 700;
        font-family: Impact;
        position: absolute;
        background: url(../images/img_pingce.png) no-repeat;
        background-size: 100% auto;
    }
    
    .pic-list .name {
        font-size: 16px;
        line-height: 20px;
        color: #222;
        margin-top: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-left: 15px;
    }
    
    .pic-list .digest {
        font-size: 14px;
        color: #999;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: justify;
        line-height: 1;
        margin-top: 15px;
        margin-left: 15px;
    }
    
    .pic-list .platform {
        font-size: 14px;
        color: #999;
        margin-top: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-left: 15px;
    }
    
    .footer {
        position: relative;
        bottom: 0px;
        background-color: rgb(34, 34, 34);
        height: 160px;
        margin-top: 80px;
    }
    
    .footerlist {
        position: absolute;
        margin-top: 30px;
    }
    
    ,
    .footerlogo {
        height: 60px;
    }
    
    .footerlogo h2 {
        width: 500px;
        height: 60px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 20px;
    }
    
    .footernav {
        text-align: center;
        color: #ccc;
    }
    
    .footernav a {
        padding: 10px;
        color: #ccc;
    }
    
    .footernav a:hover {
        color: #fff;
    }
    
    .footerlist p {
        margin-top: 10px;
        text-align: center;
        color: rgb(97, 97, 97);
    }